#navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  border-right: 2px solid black;
}

#main-doc{
  margin-left: 360px;
}

code{
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

header{
  font-size: 40px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
  padding-left: 15px;
}
ul{
  margin: 0;
  padding: 0;
}

li{
  border-bottom: 2px solid black;
  height: 70px;
}

.last_li{
  border-bottom: none;
}

.nav-link{
  list-style: none;
  font-size: 25px;
  text-decoration: none;
  color: #5f6b62;
  height: 100%;
  width: 100%;
  padding-left: 15px;
}