*{
  box-sizing: border-box;
}

.page-wrapper{
  position: relative;
}

html{
  margin: 0;
  padding: 0;
  background-color: #eee2dc;
  font-size: 1.3rem;
}

#header{
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #edc7b7;
  top: 0;
  justify-content: space-around;
  width: 100%;
}


#nav-bar > ul{
  display: flex;
  justify-content: space-evenly;
}

#nav-bar{
  width: 100%;
  height: 100%;
}

li{
  list-style: none;
  margin: 1rem;
}

.nav-link{
  text-decoration: none;
  color: black;
}
.nav-link:hover{
  color: grey;
}


.logo{
  height: 100px;
  width: 100px;
}

.logo > img{
  height: 90%;
  width: 90%;
}

/* Header end */

/* Email send section */

.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  margin-top: 90px;
}

#form{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input{
  font-size: 1rem;
  padding: 0.5rem 0;
}

.submit{
  border: 2px solid #ac3b61;
  background-color: #edc7b7;
  border-radius: 12px;
  color: #ac3b61;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
}

.submit:hover{
  border: 2px solid #123c69;
  background-color: #eee2dc;
}


/* End email section */

.grid{
  display: grid;
  grid-template-columns: 150px auto;
}

#features{
  margin: 20px auto;
  width: 50%;
}
.icon{
  color: #123c69;
  font-size: 1.4rem;
}
#features .desk{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex: auto;
}

/*  */
/*  */

#videoContainer{
  width: 50%;
  margin: 0 auto;
}

#video{
  width: 100%;
  height: 600px;
}

/*  */
/*  */

#pricing{
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100px;  
  justify-content: center;
}

article{
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 2px solid #ac3b61;
  padding: 2px;
  align-items: center;
  margin: 5px;
  border-radius: 12px;
}

.jacketImage{
  width: 80%;
  border-radius: 0 0 12px 12px;
}

.jacketName{
  height: 3rem;
  background-color: #ac3b61;
  width: 100%;
  border-radius: 12px 12px 0 0;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderButton{
  margin: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: 2px solid #ac3b61;
  background-color: #edc7b7;
  border-radius: 12px;
  color: #ac3b61;
}

.orderButton:hover{
  border: 2px solid #123c69;
  background-color: #eee2dc;
}

.price{
  color: #ac3b61;
}
/*  */
/*  */

footer{
  width: 75%;
  margin: 0 auto;
  background-color: #bab2b5;
  padding: 0;
}

.footerLinks > ol{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.footerLinks > li{
  padding-right: 15px;
}

.copyright{
  text-align: end;
  padding-bottom: 20px;
  padding-right: 15px;
}


@media (max-width: 650px) {
  footer{
    width: 100%;
  }
  #features{
    width: 100%;
  }
  .logo{
    display: none;
  }
}


@media (max-width: 650px) {
  #hero {
    margin-top: 250px;
    width: 100%;
    align-items: center;
  }
  #form{
    align-items: center;
  }
}


@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}


@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }

  .grid{
    display: flex;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
  #video{
    width: 100%;
  }
  
  iframe{
    width: 100%;
    height: 250px;
  }
}


@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  article {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
