*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

#header{
  display: flex;
  background-color: aquamarine;
  align-items: center;

}

#header > .logo{
  background-color: salmon;
}

#nav-bar > ul{
  display: flex;
  background-color: beige;
  justify-content: flex-end;
}

#nav-bar{
  width: 100%;
  height: 100%;
}

li{
  background-color: blue;
  list-style: none;
  margin: 1rem;
}

.nav-link{
  text-decoration: none;
}

.logo{
  height: 100px;
  width: 100px;
}

.logo > img{
  height: 90%;
  width: 90%;
}

/* Header end */

/* Email send section */
.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

#form{
  margin: 0 auto;
}

/* End email section */

.grid{
  display: grid;
  grid-template-columns: 100px auto;
  justify-items: center;
  align-items: center;
}

#features{
  margin: 20px auto;
  width: 50%;
}
.icon{
  color: rebeccapurple;
  font-size: 1.4rem;
}

/*  */
/*  */
#video_explanation{
  max-width: 560px;
  width: 100%;
  margin:  0 auto;
}
