main{
  background-color: #f5f0e1;
  border-radius: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-size: 50px;
  padding-top: 20px;
}
p, #img-caption{
  font-size: 20px;
  }

h2{
  font-size: 26px;
  padding: 20px;
}
#img-div{
  background-color: white;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
}
#image{
  display: block;
  margin: 10px auto;
  width: 30%;
  max-width: 100%;
  max-height: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.bold{
  font-weight: 800;
}
ul{
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: left;
  line-height: 40px;
}
li{
  margin-bottom: 10px;
}
